{% extends "layout/base.html" %} {% block title %}{% endblock %} {% block
content %}
<h3 class="text-center my-3">{% block heading %}{% endblock %}</h3>
<div id="posts">
    {% for post in posts %}
    <div class="card border-dark my-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>

            {% if user.id == post.author_id %}
            <ul class="dropdown open m-0">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"></button>
                <li class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="/delete-post/{{post.id}}">Delete</a>
                </li>
            </ul>
            {% endif %}
        </div>

        <div class="card-body">
            <p class="card-text">{{post.text}}</p>
            <div class="collapse" id="comments-{{post.id}}">
                {% for comment in post.comments %}
                <div class="card my-2">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <div>
                                <div class="card-text text-break small">
                                    <a href="/posts/{{post.user.username}}">{{comment.user.username}}</a>: {{ comment.text }}
                                </div>
                            </div>
                            <div class=" text-muted small">{{comment.date_created.strftime('%Y-%m-%d
                                    %H:%M:%S')}}
                            </div>
                        </div>
                        <div>
                            {% if comment.author_id == user.id or post.author_id == user.id %}
                            <ul class="dropdown open m-0">
                                <button class="btn  btn-outline-secondary dropdown-toggle btn-sm" type="button" id="triggerId" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"></button>
                                <li class="dropdown-menu" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="/delete-comment/{{comment.id}}">Delete</a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if post.comments | length > 0 %}
                <p>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#comments-{{post.id}}" aria-expanded="false"
                        aria-controls="comments-{{post.id}}">
                        View {{post.comments | length}} comments
                    </button>
                </p>
            {% else %}
                <p class="text-muted">No Comments</p>
            {% endif %}
            

            <form action="/create-comment/{{post.id}}" method="post" class="input-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="text" id="text" placeholder="Add a comment"
                        aria-label="Add a comment">
                    <button type="submit" class="btn btn-secondary">Comment</button>
                </div>
            </form>
        </div>

        <div class="card-footer text-muted">
            {{post.date_created.strftime('%Y-%m-%d %H:%M:%S')}}
        </div>
    </div>
    {% endfor %} 

    <div class="text-center my-3">{% block buttons %}{% endblock %}</div>
</div>
{% endblock %}